
  .container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    margin: 0px;}

.header{
    background-color: goldenrod;
    padding: 80px;
    margin-bottom: 30px;
    border: 1px black solid;

}
.aside-main{
    display: flex;
    margin-bottom: 30px; 
    
  
}
.aside{
    
    background-color:darkgray ;
    border: 1px black solid;
    padding: 80px;
    width: 5%;
    justify-content: space-around;
    margin-right: 20px;

}
.main{
    
    background-color: darkgray;
    width: 95%;
    border: 1px black solid;
    padding: 80px;
    background-color: cadetblue; 
    margin-left: 20px;


}
.footer{
    background-color: cornflowerblue;
    border: 1px black solid;
    padding: 80px;
    margin-bottom: 30px;}
    