.container{
    display: flex;
    flex-direction:column;
    
    width: 100%;}
    
.container-item { 

height: 200px;
}
.header{
    background-color: goldenrod;
    margin: 10px;
    text-align: left;

}
.main{
    background-color: darkgray;
    margin: 10px;
    text-align: center;
    
}
.footer{
    background-color: cornflowerblue;
    margin: 10px;
    text-align: left;
}