
  .container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    margin: 30px;}

.header{
    background-color: goldenrod;
    margin-bottom: 20px;
    border: px black solid;
    height: 75px;
    padding:20px;
    
}

.four-small{ 
    display: flex;
    
    width: 60%;
    justify-content: space-between;

    

}
 .little-item{
    background-color: deeppink;
    border: 1px black solid;

    width: 90px;
    height:40px;
    margin-bottom: 20px;

 }
.aside-main{
    display: flex;
    margin-bottom: 20px; 
    
    

  
}
.aside{
    
    background-color:darkgray ;
    border: 1px black solid;
    padding: 80px;
    width: 5%;
    margin-right: 20px;

}
.main{
    
    background-color: darkgray;
    width: 95%;
    border: 1px black solid;
    padding: 80px;
    background-color: cadetblue;
    margin-left: 20px;
 }

.footer{
    background-color: cornflowerblue;
    border: 1px black solid;
    padding: 80px;
    margin-bottom: 40px;}
    