
  .container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    margin: 30px;}

.header{
    background-color: goldenrod;
    margin-bottom: 20px;
    border: px black solid;
    height: 75px;
    padding:20px;
    
}

.four-small{ 
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    

}

 .box-left, .box-right{
    display: flex;

 }

    .box-left .small-box{
        margin-right:10px;
        margin-bottom: 20px;
        border: 1px black s0lid;
    }
    .box-right .small-box{ 
        margin-left: 10px;
        margin-bottom:20px ;
        border: 1px black solid;
    }


        .small-box{ 
            width:90px ;
            height: 40px;
            background-color: deeppink;
        }
    
    
 
.aside-main{
    display: flex;
    margin-bottom: 20px; 
    gap: 20px;
    

  
}
.aside{
    
    background-color:darkgray ;
    border: 1px black solid;
    padding: 80px;
    width: 5%;

}
.main{
    
    background-color: darkgray;
    width: 95%;
    border: 1px black solid;
    padding: 80px;
    background-color: cadetblue; }

.footer{
    background-color: cornflowerblue;
    border: 1px black solid;
    padding: 80px;
    margin-bottom: 40px;}
    