
  .container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    margin: 5px;}

.header{
    display: flex;
    justify-content: space-between;

    background-color: goldenrod;
    margin-bottom: 20px;
    border: px black solid;
    height: 75px;
    padding: 20px;
    
    
    
}
.square{
    width: 45px;
    height: 45px;
    background-color: blue;
    border: 1px blue solid;
}
.Login{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;

}

.four-small{ 
    display: flex;
    margin-bottom: 20px;
    justify-content: space-around;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    align-items: center;
  

}
 .small-box{ 
 width:90px ;
 height: 40px;
 background-color: deeppink;
        }
    
    
 
.aside-main{
    display: flex;
    margin-bottom: 20px; 
    gap: 20px;
    

  
}
.aside{
    
    background-color:darkgray ;
    border: 1px black solid;
    padding: 80px;
    width: 5%;

}
.main{
    
    background-color: darkgray;
    width: 95%;
    border: 1px black solid;
    padding: 80px;
    background-color: cadetblue; }

.footer{
    display: flex;
    justify-content: center;
    border: 2px blue solid;
    margin: 5px;
    padding: 30px;
    background-color: cornflowerblue;
    margin-bottom: 10px;
    }

   
 .squares{
        width: 160px;
        height: 80px;
        padding:50px;
        border: 2px black solid;
        background-color: darkcyan;
        margin: 10px;
        color: white;
        
        
 }

    