
 body{
    margin-top: 0;
    padding: 0;
    background: white;       
}

.container{
display: flex;
justify-content: center;
}

.yellow{
    width: 300px;
    height: 530px;
    background-color: yellow;
    margin-right: 20px;}

 .cyan{
        width: 300px;
        height: 530px;
        margin-left: 20px;
        background-color:cyan;
    }
     .middle{
    display: flex;
    flex-direction: column;
    }

    .blue{
     width: 600px;
     height:255px ;
     background-color: blue;
     margin-bottom: 20px ;

    }
    .gray{
        width: 600px;
        height: 255px;
        background-color:gray ;
    }
    
    .red{ 
    width:1240px ;
    height: 120px;
    margin-top: 20px;
    background-color: red;
}