
 body{
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}




.container{
display: flex;
margin-top: 0px;

}

.yellow{
    width: 380px;
    height: 600px;
    background-color: yellow;
    margin-right: 60px;}

 .cyan{
        width: 380px;
        height: 600px;
        background-color:cyan;}


.middle{
    display: flex;
    flex-direction: column;
    margin-right: 60px;}

    .blue{
     width: 360px;
     height:280px ;
     background-color: blue;
     margin-bottom: 40px;

    }
    .gray{
        width: 360px;
        height: 280px;
        background-color:gray ;
    }






