 body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 10px;
}

header{
    background-color: darkorange;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px black solid;
    width: 1200px;
    height: 15px;
}
  h2{
position: absolute;
font-size: small;
    right: 10px;
    top:10px;
    margin-right: 40px;
    
  }

.menu-small{
    justify-items: left;
    background-color: cornflowerblue;
    border: 1px black solid;
    width: 20px;
    height: 20px;
}

.container{ 
    display:flex ;
    gap: 20px;
    margin-bottom: 15px;
    
}

.bar{
 display: inline-flex;
 background-color: fuchsia;
 border: 1px black solid;
 height: 30px;
 width: 110px;
 margin-left: 20px;
 margin-bottom: 10px;
 
}


section{ 
    display: flex;
    justify-content: center;
  
}
 aside{ 
    flex: 0,3;
    width: 270px;
    height: 280px;
    background-color: darkgray;
    border: 1px black solid;
    padding: 10px;
    
}
h3{ 
    color: red;
}
.box{
    background-color: white;
    padding: 0px;
}
    
main{
    flex: 1;
    padding: 1px;
    font-size: small;
    background-color: #007a97;
    border: 1px black solid;
    height: 300px;        
}

.text{
padding: 5px;
 text-align: center;
 background-color: white;
 border: 1px black solid;
 font-size: medium;
 margin-left: 10px;
 margin-right: 10px;
 margin-top: 10px;
 margin-bottom: 10px;
}

 img{
    margin-top: 10px;
    margin-left: 10px;
    font-size: medium;
    border-radius: 100%;
    width:260px;
    height: 290px;
    

 }
 
 footer{
    display: flex;
    justify-content:space-between ;
    background-color: cornflowerblue;
    padding:10px;
    border: 1px black solid;
    
 }

 .footer-square{
    flex:0,5;
    background-color: aquamarine;
    text-align: center;
    color: white;
    border: 1px black solid;
    padding: 60px;
    width: 30px;
    height: 10px;
    margin: 10px;
 }

 .footer-square1{
    flex: 0,5;
    background-color:cornflowerblue;
    border: 1px black solid;
    padding: 60px;
    width: 30px;
    height: 10px;
    display: flex;
    margin: 10px;
 }
 